<li class="separator"></li>
<li class="removeNumber">
    <a title="Remove Custom Section Numbering"><span class="numbericon"></span></a>
</li>
<style>
.numbericon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}
.numbericon:before{
  font-family: "fontawesome-etherpad";
  content: "\e82a";
  color:#666;
  font-size:14px;
  padding-top:2px;
  line-height:17px;
}
</style>
